/* static/css/style.css */
body {
  background-color: #141414;
  color: white;
  font-family: Arial;
}

.navbar {
  background: black;
  padding: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.card {
  background: #222;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.1);
}

.card img {
  width: 100%;
}

.card h3 {
  padding: 10px;
}